<template>
  <h1>Hello, this is the dev app for plugin zamur-au-plugin</h1>
  <p>This dev app is bundled to scripts/ folder (ignored in .gitignore). If you commit the bundle files to github, this app can serve as a <a href="https://pages.github.com" target="_blank">github page</a>!</p>

  <p>Please read the <a href="README.md">README</a> file in your project for more information.</p>

  <hr>
  <h2>Custom element "hello-world"</h2>
  <p>Usage:&nbsp;<code>&lt;hello-world message.bind="message"&gt;&lt;/hello-world&gt;</code></p>
  <hello-world message.bind="message"></hello-world>

  <hr>
  <h2>Custom attribute "color"</h2>
  <p>Usage:&nbsp;<code>&lt;p color="green"&gt;In green&lt;/p&gt;</code></p>
  <p color="green">In green</p>

  <hr>
  <h2>Value Converter "upcase"</h2>
  <p>Usage:&nbsp;<code>\${message | upcase}</code></p>
  <p>${message | upcase}</p>

  <hr>
  <h2>Binding Behavior "primaryClick"</h2>
  <p>Usage:&nbsp;<code>&lt;button click.trigger="clicked() & primaryClick"&gt;&lt;/button&gt;</code></p>
  <button click.trigger="clicked() & primaryClick">Only triggers on a primary button click or a touch on mobile device</button>

</template>
